@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 9999;
  animation: circular-reveal 0.6s ease-in-out;
}

@keyframes circular-reveal {
  from {
    clip-path: circle(0px at var(--x, 50%) var(--y, 50%));
  }
  to {
    clip-path: circle(var(--r, 100%) at var(--x, 50%) var(--y, 50%));
  }
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  @apply bg-slate-50 text-slate-900 dark:bg-slate-900 dark:text-slate-50 transition-colors duration-200;
}
